@media screen and (max-width: 1200px) {
	.feature-text {
		width: 290px;
	}
	.feature-text button {
	    width: 115px;
	    margin-left: 10px;
	}
	.feature-text h4 {
    	font-size: 20px;
	}
	price {
		bottom: 185px;
	}
	.product-text h4 {
		padding: 2px 7px 0px 6px;
	}
	.product-text p {
		padding-left: 5px;
	}
	.sony-text strong {
		display: inline;
   		font-size: 12px;
   		padding-left: 1px;
	}
	.feed-text h5 {
		right: 12px;
		font-size: 14px;
	}
	.feed-text h4 {
		padding: 2px 10px;
	}
	.sony-text-2 strong {
 	   padding-left: 130px !important;
	}
	.sony-text-3 h4 {
		line-height: 20px;
	}
	.margin-b {
		margin-bottom: 30px;
	}
	.borders:before {
	    right: 527px;
	}
	.borders:after {
    	right: 365px;
	}
	.follow ul {
		display: -webkit-box;
	}
	.follow ul img {
    	margin-right: 8px;
	}
	.about-text h4 {
    	font-size: 82px;
	}
	.product-text h4  {
		width: 39px;
	}
	form h1:after {
		right: 445px;
	}
	.pro-desc p {
    	font-size: 29px;
    }
    .desc-text p {
	    font-size: 15px; 
	}
	.products ul li:last-child {
		width: 52%;
	}
	.sidebar-menu h1 {
		font-size: 20px; 
	}
	.sidebar-dropdown a:after {
		right: 38px;
	}
	price {
    	bottom: 158px;
	}
	.product-text p {
    	font-size: 11px;
	}
	.product-text span {
	    font-size: 12px;
	    top: 19px;
	}
	.input-group {
	    width: 374px;
	}
	header nav ul li {
		margin-right: 28px;
	}
}	
@media screen and (max-width: 992px) {
	.banner-text h1 {
		font-size: 	83px;
	}
	.feature-text h4 {
		font-size: 16px;
	}
	.feature-text {
    	width: 210px;
	}	
	.feature-text button {
    	width: 79px;
    	font-size: 14px;
    }
    .feature-text {
    	padding: 30px 0px 14px 11px;
    }
    price {
    	bottom: 134px;
    }
    .product-text span {
    	margin-left: 92px; 
    }
    .mr-b {
    	margin-bottom: 60px;
    }
    .follow h1, h2 {
	    text-align: center;
	}
	.follow h2 {
    	font-size: 17px;
	}
	.follow ul img {
    	margin-right: -9px;
	}
	.images {
    	padding: 80px 0;
	}
	.signup h4 {
    	font-size: 11px; 
	}
	.foot-icon ul li{
		
		width: 26px;
	}
	.borders:after {
    	right: 240px;
	}
	.borders:before {
    	right: 410px;
	}
	.follow ul img {
    	margin-right: 15px;
	}
	.flw-img {
		text-align: center;
	}
	.sony-text span {
    	font-size: 17px;
	}
	.sony-text-2 strong {
    	padding-left: 94px !important;
	}
	.news-text {
    	text-align: center;
	}
	.follow {
    	padding: 20px 0px 8px;
	}
	.pay-images {
		flex-wrap: wrap;
	}
	.pay-images img {
		margin-bottom: 12px;
	}
	.about-text h4 {
 	   font-size: 61px;
	}
	form h1:after {
		right: 323px;
	}
	.pro-desc p {
    	margin-top: 30px;
	}
	.sidebar-dropdown a:after {
		right: 46px;
	}
	.products ul li:last-child {
		width: 0;
	}
	.products ul li {
		width: 33% !important;
	}
	.icon:after {
		left: 414px;
	}
	.mrg-t {
		margin-top: 0;
	}
	.client .mt {
		margin-top: 100px !important;
	}
	.list-unstyled {
		text-align: center;
	}
	.input-group {
		margin: 10px 0;
		width: 455px;
	}
	ul.top-socials {
	    float: none;
	    width: 100%;
	    text-align: center;
	}
	.top-header-box:before, .top-header-box:after,ul.top-socials a:after,ul.top-socials a:before{
    	content: none; 
	}
	.top-header-box {
		transform: skewX(-15deg);
	}
	.top-header-box ul li {
		transform: skewX(15deg);
	}
	.navbar-toggler-icon {
	    background: url("../img/menu-bar.png");
	    width: 100%;
	    height: 62px;
	    background-size: cover;
	}
	.navbar-toggler {
		width: 88px;
	}
	.navbar-nav {
		text-align: left;
    	margin-left: 23px;
	}
	button:focus {
		outline: none;
	}
	.about-text {
		margin-top: 50px;
	}
}
@media screen and (max-width: 768px) {
	.banner-text h1 {
    	font-size: 61px;
	}
	.feature-text h4 {
    	font-size: 12px;
	}
	.feature-text {
    	width: 240px;
	}
	.feature-margin {
		margin-bottom: 45px;
	}
	.borders:before {
    	right: 313px;
	}
	.borders:after {
    	right: 152px;
	}
	.third {
	    padding-top: 50px;
	}
	.follow ul li {
    	margin-right: 18px;
	}
	.pay-images {
    	display: flex;
    	text-align: center;
    	display: list-item;
	}
	.margin-top {
		margin-top: 30px;
	}
	.about-text h4 {
    	font-size: 45px;
	}
	.mg-b {
		margin-bottom: 30px;
	}
	form h1:after {
		right: 234px;
		top: 80px;
	}
	form {
		padding: 50px 63px;
	}
	.products ul li {
		font-size: 15px;
	}
	.icon:after {
    	left: 311px;
	}
	.products ul li:last-child {
	    margin-bottom: -29px;
	    margin-left: 1px;
	    height: 70px;
	    width: 59%;
	}
	.logo {
    	text-align: center;
    	margin-bottom: 15px;
	}
}
@media screen and (max-width: 576px) {
	.input-group {
		width: 388px;
	}
	.banner-text {
		text-align: center;
	}
	.banner-text h1 {
    	font-size: 38px;
	}
	.feature-text {
    	width: 384px;
	}
	.third h1 {
    	font-size: 30px;
	}
	.borders:before {
    	right: 250px;
	}
	.borders:after {
    	right: 93px;
	}
	.feature-text button {
    	margin-left: 165px;
	}
	.feature-text h4 {
		font-size: 18px;
	}
	.sony-text strong {
	    padding-left: 130px;
	}
	.follow ul p {
		display: none;
	}
	.follow ul {
    	display: block;
    	text-align: center;
    }
    .follow ul li{
	    display:inline-block;
	}
	.signup {
		text-align: center;
    	margin: 0 auto;
	    margin-left: 69px;
	    margin-bottom: 15px;
	}
	.pay-images img {
    	margin-right: 0px;
    	margin-bottom: 0;
	}
	.margin-bottom {
		margin-bottom: 60px;
	}
	.mr-btm {
    	margin-bottom: 0px;
	}
	.four .logo {
 	   margin-bottom: 40px;
	}
	.sony-margin {
		margin-bottom: 40px;
	}
	.image-mr {
		margin-top: 40px;
	}
	.about-text h3 {
    	font-size: 30px;
	}
	.about-text h4 {
		font-size: 34px;
		line-height: 60px;
	}
	.about-text p {
		font-size: 16px;
	}
	.mr-t {
		margin-top: 30px;
	}
	form h1 {
		font-size: 24px;
	}
	form h1:after {
    	right: 172px;
    	top: 73px;
	}
	.logo {
    	text-align: center;
    	margin: 30px;
	}
	.top-header-box:before,.top-header-box:after, ul.top-socials a:after, ul.top-socials a:before, .four .logo:before, .four .logo:after { 
		content:none;
	}
	.top-menu.list-unstyled {
		text-align: center;
	}
	.input-group {
    	width: 277px;
    	/* margin-left: 38px; */
    	margin-top: 20px;
    	margin-bottom: 20px;
	}
	.add-to-cart {
		/* margin-left: 30px; */
    	margin-bottom: 10px;
	}
	.home-banner {
		background-position: center;
	}
	.follow ul li:last-child, .follow ul li:last-child img {
		margin-right: 0;
	}
	.borders.testing:before, .borders.testing:after {
		top: 162px;
	}
	.top-socials{
		margin-right: 122px;
		margin-top: 10px;
	}
	.pro-desc p {
    	font-size: 20px;
	}
	.icon:after {
    	left: 230px;
	}
	.products ul li:last-child {
		height: 92px;
	}
	.outside h5 {
		text-align: center;
	}
	ul.top-socials{
    	margin-right: 0;
		width: 100%;
   	 	padding-right: 0;
    	text-align: center;
	}
	ul.top-socials {
		float: none;
	}
}

