ul{
	margin-bottom: 0px;
    padding-left: 0;
}
body{
	background-color: #0c0c0c;
	border-top: 6px solid #ec1c24;
}
.top-header-box{
	background-color: #ec1c24;
	padding-top: 4px;
    	padding-bottom: 4px;
    	position: relative;
}
.top-header-box:before {
    content: "\A";
    border-style: solid;
    border-width: 10px 36px 10px 0px;
    border-color: transparent #0c0c0c transparent transparent;
    position: absolute;
    left: -18px;
    transform: rotate(-91deg);
    top: 8px;
}
.top-header-box:after {
    content: "\A";
    border-style: solid;
    border-width: 12px 38px 12px 0px;
    border-color: transparent #0c0c0c transparent transparent;
    position: absolute;
    right: -18px;
    transform: rotate(91deg);
    top: 7px;
}
.top-header-box ul li{
	display: inline-block;
}
.input-group {
    transform: skewX(-15deg);
}
.cart-menu {
    position: relative;
}
.input-group {
    border: 1px solid #97000c;
    width: 500px;
    text-align: left;
    margin-top: 60px;
    border-radius: 6px;
}
.cart-menu .btn.btn-secondary{
    background-color:white;
    border: 0px
}
.cart-menu input{
    border:0;
}
.cart-menu .btn.btn-secondary i{
    color: #97000c;
    transform: skewX(0deg);
    font-size: 18px;
}
.add-to-cart {
    transform: skewX(-15deg);
}
.add-to-cart i {
    transform: skewX(15deg);
}
.add-to-cart button {
    background-color: #ec1c24;
    border: none;
    color: white;
    height: 36px;
    width: 50px;
    border-radius: 2px;
}
.add-to-cart span {
    position: absolute;
    top: 11px;
    right: -5px;
    transform: skewX(15deg);
    border: 1px solid #ec1c24;
    border-radius: 10px;
    background-color: white;
    color: #97000c;
    width: 20px;
    font-size: 12px;
    height: 20px;
    padding-top: -16px;
}
.cart-menu .account a {
    color: #fff;
    margin-left: 33px;
}
.input-group input {
    text-align: left;
}
.input-group:after {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    color: #97000c;
    position: absolute;
    right: 10px;
    top: 7px;
}
.top-header-box ul {
    	display: inline-block;
      padding-left: 10px;
}
ul.top-socials {
    display: inline-block;
    padding-left: 10px;
    float: right;
}
ul.top-menu a{
	font-size: 14px;
    	line-height: 28px;
    	text-transform: uppercase;
    	color: #ffffff;
    	font-weight: 600;
    	margin-right: 8px;
    	margin-left: 8px;
}
ul.top-socials a:before{
	content: "\A";
    	border-style: solid;
    	border-width: 10px 28px 10px 0px;
    	border-color: transparent #ec1c24 transparent transparent;
    	position: absolute;
   	right: -15px;
    	transform: rotate(90deg);
    	top: 2px;
}
ul.top-socials a:after{
	content: "\A";
    	border-style: solid;
    	border-width: 10px 28px 10px 0px;
   	 border-color: transparent #ec1c24 transparent transparent;
    	position: absolute;
    	left: -15px;
    	transform: rotate(-90deg);
    	top: 2px;
}
h1,h2,h3,p,a{
	font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Poppins', sans-serif !important;
}
h4,h5{
	font-family: 'Roboto', sans-serif;
}
ul.top-socials a{
	background-color: #f9bbbe;
    	width: 32px;
    	height: 26px;
    	display: block;
    	text-align: center;
    	line-height: 26px;
    	position: relative;
    	margin-right: 6px;
}
ul.top-socials a i{
	color: #ec1c24;
	font-size: 14px;
}
ul.top-menu a i{
	margin-right:6px;
}
.cart-menu ul li{
	display: inline-block;
}

/*********************************************************/
.home-banner {
    background-image: url('../img/banner.jpg');
    background-attachment: fixed;
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 210px;
}
.banner-text {
    color: #fff;
}
.banner-text h3 {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    line-height: 26.48px;
}
.banner-text h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 90px;
    line-height: 108.64px;
}
.banner-text p {
    font-size: 20px;
    line-height: 25px;
}
.btn-red {
    background-color: #ec1c24;
    border: none;
    color: #fff;
    width: 240px;
    height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 26px;
}
.feature-img img {
    width: 100%;
}
.second {
    color: #fff;
}
.feature-img{
    position: relative;
    border-bottom: 2px solid #ec1c24;
}
.feature-img:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid #ec1c24;
    position: absolute;
    bottom: 0;
    right: 80px;
}
.feature-img button{
    position: absolute;
    bottom: 0;
    right: 26px;
    height: 30px;
    border-radius: 2px;
    border: none;
    color: #fff;
    width: 130px;
    background-color: #ec1c24;
    bottom: 30px;
    cursor:pointer;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}
.feature-img button:hover{
    background-color: #a30006;
}
.feature-text {

    opacity: 1;
    /* display: flex; */
    background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
    top: 36%;
    width: 350px;
    /* border-bottom: 2px solid #ec1c24; */
    transition: all 0.25s ease-in-out;
    overflow: hidden;
    text-align: center;
    padding: 22px 0px;
}


.feature-text h4 {
    font-size: 24px;
    line-height: 27.3px;
    font-weight: bold;
    margin-bottom: 0px;
}
.feature-text  button {
    height: 30px;
    border-radius: 2px;
    border: none;
    color: #fff;
    width: 130px;
    background-color:#ec1c24 ;
    margin-left: 33px;
}
.third {
    color: #ec1c24;
    text-align: center;
    padding-top: 105px;
    position: relative;
}
.third h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 63.71px;
    margin-bottom: -20px;
}
.third h1 {
    font-size: 36px;
    line-height: 63.71px;
    color: #fff;
}
.borders:after  {
    content: "";
    width: 72px;
    height: 3px;
    display: block;
    background-color: #363636;
    top: 137px;
    position: absolute;
    right: 455px;
}
.borders:before  {
    content: "";
    width: 72px;
    height: 3px;
    display: block;
    background-color: #363636;
    top: 137px;
    position: absolute;
    right: 616px;
}
.product-cart {
    position: relative;
}
.product-cart img {
    width: 100%;
}
price {
    font-size: 16px;
    line-height: 5.65px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    position: absolute;
    right: 0px;
    background-color: #ec1c24;
    color: #fff;
    padding: 10px 10px;
    bottom: 157px;
}
.product-text {
    display: flex;
    padding-top: 15px;
    position: relative;
}
.product-text p {
    color: #7b7b7b;
    font-size: 12px;
    line-height: 27.3px; 
    font-family: 'Roboto', sans-serif;
    padding-left: 8px;   
}
.product-text span {
    color: #7b7b7b;
    position: absolute;
    right: 0;
}
.product-text h4 {
    text-align: center !important;
    color: #fff !important;
    font-size: 12px;
    line-height: 27.3px;
    background-color: #ec1c24;
    border-radius: 2px;
    padding: 3px 8px 0px 8px;
    height: 26px;
}
.third h5 {
    text-align: left;
    font-size: 20px;
    color: #fff;
}
.product-cart h4 {
    color: #7b7b7b;
    font-size: 12px;
    line-height: 22.75px;
    text-align: left;
}
.mr-btm {
    margin-bottom: 80px;
    margin-top: 60px;
}
.product-cart a {
    color: #fff;
    background-color: #ec1c24;
    padding: 11px;
    padding-bottom: 1px;
    font-size: 12px;
    width: 50% !important;
    display: inherit;
    text-align: center;
    float: left;
    border: 1px solid #ec1c24;
    transform: skewX(-15deg);
    height: 38px;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}
.product-cart a:hover {
    text-decoration: none;
    background-color:#a30006;
}
.product-cart a p {
    line-height: 15px;
    font-family: 'Montserrat', sans-serif;
    transform: skewX(15deg);
    margin-bottom: 0px;
}
.product-cart .second-a {
    background-color: #000000;
    border:none;
    border: 1px solid #515151;
}
.four {
    margin-top: 60px;
}
.four .logo {
    text-align: center;
    margin-bottom: 70px;
}
.four .logo:after {
    content: "";
    width: 400px;
    height: 4px;
    display: block;
    background-color: #ea1c24;
    background-image: linear-gradient(to right, #ec1c24 , #9e161c , #3c0f10);
    top: 110px;
    position: absolute;
    right: 0;
}
.four .logo:before {
    content: "";
    width: 400px;
    height: 4px;
    display: block;
    background-color: #ea1c24;
    background-image: linear-gradient(to left,  #ec1c24 , #9e161c  , #3c0f10);
    top: 110px;
    position: absolute;
    left: 0;
}

.news-text h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    line-height: 63.71px;
}
.news-text {
    margin-bottom: 30px;
    text-align: center;
}
.news-text h5 {
    font-family: 'Raleway', sans-serif;
    color: #ec1c24;
    font-size: 18px;
    line-height: 0;
    font-weight: 600;
    font-size: 28px;
}
.sony {
    padding: 24px;
    border: 1px solid #515151;
    margin-top: 30px;
}
.sony-text {
    margin-bottom: 40px;
}
.sony-text h4 {
    color: #fff;
    font-size: 16px;
    line-height: 6px;
}
.sony-text:last-child {
    margin-bottom: 0;
}
.sony-text h5 {
    color: #7b7b7b;
    font-size: 14px;
    line-height: 18.2px;
}
.sony-text span {
    color: #bb2f00;
    font-size: 12px;
    line-height: 4px;
}
.sony-text strong {
    color: #bb2f00;
    font-weight: 400;
    position: absolute;
    right: 30px;
}
.sony-text strong:after {
    content: "\f086";
    font-family: "Font Awesome 5 Free";
    color: red;
}
.news-img img {
    width: 100%;
}
.news-img {
    position: relative;
}
.feed-text {
    padding-left: 12px;
}
.feed-text h4 {
    color: #fff;
    font-size: 12px;
    line-height: 27.3px;
    position: absolute;
    bottom: 0;
    background-color: #ec1c24;
    padding: 2px 14px;
    border-radius: 5px;
}
.feed-text h5 {
    font-size: 16px;
    line-height: 6px;
    color: #fff;
    position: absolute;
    right: 40px;
    bottom: 12px;
}
.mb {
    margin-top: 30px;
}
.sony-text-2 {
    padding-top: 13px;
    padding-bottom: 27px;
}
.sony-text-2 strong {
    padding-left: 173px;
}
.sony-img img  {
    width: 100%;
}
.sony-text-3 h4 {
    margin-top: 16px;
    font-size: 13px;
}
.sony-text-3:last-child {
    padding-bottom: 40px;
}
.flw {
    background-image: url('../img/flw.jpg');
    background-size: cover;
}
.follow {
    padding: 30px 0px 0px;
}
.follow h1 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    line-height: 63.71px;
}
.follow h2 {
    color: #fff;
    font-size: 18px;
}
.follow ul {
    display: flex;
}
.follow ul li {
    color: #fff;
    margin-right: 35px;
    list-style: none;
}
.follow ul img {
    margin-right: 16px;
}
.follow ul p {
    float: right;
    padding-top: 30px;
}
.images {
    background-color: #ec1c24;
    padding: 100px 0;
    text-align: center;
}
.testimonials {
    margin-bottom: 100px;
    margin-top: 60px;
}
.testi p {
    color: #7b7b7b;
    font-size: 14px;
    line-height: 18.2px;   
    font-family: 'Roboto', sans-serif; 
    margin-left: 18px;
    margin-top: 12px;
    padding-top: 8px;

}
.testi p i{
    color: #bb2f00;
}
.testi {
    position: relative;
    display: flex;
}
#owl-testi .item{
    
}
.name {
    display: flex;
    margin-left: 114px;
    border-top: 1px solid #ec1c24;
    padding-top: 10px;
}
.name p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-right: 9px; 

}
.name span {
    color: #767676;
}
.submit {
    display: flex;  
}
.submit input {
    background-color: #232323;
    margin-right: 8px;
    border:  none;
    width: 278px;
}
.signup {
    display: flex;
    padding-top: 13px;
}
.signup h4 {
    font-size: 13px;
    color: #fff;
    margin-left: 11px;
}
.signup img {
    height: 15px;
}
.btn-black {
    font-family: 'Roboto', sans-serif;
    background-color: #2a2a2a;
    color: #959595;
    border: 1px solid #959595;
    width: 80px;
    padding: 8px 14px;
    font-size: 14px;
}
.payment {
    padding: 35px ;
    background-color: #2a2a2a;
}
.pay-images {
    display: flex;
}
.pay-images img {
    margin-right: 10px;
}
.main-footer {
    padding-top: 70px;
    padding-bottom: 85px;
    background-color: #232323;
}
.foot-head h4 {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ec1c24;
}
.foot-ul {
    margin-top: 40px;
}
.foot-ul br {

}
.foot-ul ul {
    display: initial;
}
.foot-ul ul li {
    list-style: none;
    margin-bottom: 20px;
    line-height: 12px;
    color: #868686;
    font-family: 'Roboto', sans-serif;
    font-size: 14px; 
}
.foot-ul ul li a {
    font-family: 'Roboto', sans-serif;
    color: #868686;
    font-size: 14px; 
}
.foot-ul ul li a:hover {
    text-decoration: underline;
}
.foot-icon ul {
    display: initial;
}
.foot-icon ul li {
    background-color: #373737;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    color: #cccccc;
    transition: 0.50s ease-in-out;
}
.foot-icon ul li:last-child {
    margin-right: 0;
}
.foot-icon ul li:hover {
    background-color: #ec1c24;
}
.last-footer {
    background-color: #181818;
    text-align: center;
}
.last-footer p {
    font-size: 12px;
    line-height: 26px;
    font-family: 'Cabin', sans-serif;
    color: #aaaaaa;
    padding: 20px 0 20px 0;
    margin-bottom: 0px;
}


/*********------------- ABOUT ---------*************/

.about-second {
    margin-top: 100px;
}
.about-text {
    text-align: center;
    margin-top: 96px;
    margin-bottom: 60px;
}
.about-text h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;  
    color: #fff;
    font-size: 40px;
    line-height: 26.48px;
}
.about-text h4 {
    color: #ec1c24;
    font-size: 90px;
    font-weight: bold;
    line-height: 108.64px;  
}
.about-text p {
    color: #fff;
    font-size: 18px;
    line-height: 25px;
}
.about-img img {
    width: 100%;
    margin-bottom: 60px;
}
.about-img p {
    font-size: 18px;
    line-height: 35px;
    color: #898989;
}
.ship {
    background-color: #1c1c1c;
    text-align: center;
    padding: 54px 0;
}
.ship p {
    color: #bababa;
    font-size: 13px;
    margin-top: 20px;
}
.product-cart h5 {
    color: #fff;
}


/********* SHOP *****************/

.products ul {
    position: relative;
}
.products ul li {
    color: #6e6e6e;
    display: inline-block;
    border: 1px solid #eeeeee;
    text-align: center;
    padding: 23px 23px 23px 18px;
    margin-right: -6px;
}
.products ul li:last-child {
    margin-bottom: -30px;
    margin-left: 0px;
    height: 72px;
    width: 59%;
}
.icon:after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f107";
    position: absolute;
    top: 25px;
    left: 315px;
}

header nav ul li {
    color: #fff;
    list-style: none;
    display: inline;
    margin-right: 50px;
}
header nav ul li a{
    color: #fff;
}
header nav {
    border-top: 2px solid #760e12;
    padding-top: 13px;
    padding-bottom: 26px;
}
header nav ul {
    text-align: right;
}
.nav-shop:after {
    content: "\f0dd";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 23px;
    right: 50px;
}
a:hover{
    text-decoration: none;
}
header nav .active a{
    padding-bottom: 8px;
    border-bottom: 3px solid #e21b22;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
    /* background-image: linear-gradient(to right, #e21b22 , #610c0f); */
}
header nav a:hover{
    padding-bottom: 8px;
    border-bottom: 3px solid #e21b22;
    color: white;
}
.banner-text .btn-red{
    -webkit-transform: skewX(-22deg);
       -moz-transform: skewX(-22deg);
        -ms-transform: skewX(-22deg);
         -o-transform: skewX(-22deg);
            transform: skewX(-22deg);
            cursor: pointer;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}
.banner-text .btn-red:hover{
    background-color: #a30006;
}
.banner-text .btn-red span{
     -webkit-transform: skewX(22deg);
       -moz-transform: skewX(22deg);
        -ms-transform: skewX(22deg);
         -o-transform: skewX(22deg);
            transform: skewX(22deg);
            transform: skewX(22deg);
        display: inline-block;
}
.pagination {
    margin-bottom: 65px;
}
.products ul {
    margin-bottom: 32px;
}
.page-link {
    margin-right: 20px;
    background-color: transparent;
    color: #8f8f8f;
    transition: all 0.40s ease-in-out;
}
.page-link:hover {
    background-color: #ec1c24;
    color: #fff;
    border: 1px solid black;
}
.shop-ship {
    margin-bottom: 54px;
}
.mrg-t {
    margin-top: 40px;
}


/********* CONTACT ******************/
.contact-text {
    text-align: center;
    border-bottom: 1px solid #363636;
    margin-bottom: 33px;
}
.contact-text:last-child {
    border-bottom: none;
}
.contact-text h2 {
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
}
.contact-text p {
    font-size: 20px;
    line-height: 32px;
    color: #888888;
}
form h1 {
    color: #fff;
    font-size: 30px;
}
form h1:after {
    content: "";
    width: 29px;
    height: 2px;
    display: block;
    background-color: #b0b0b0;
    top: 98px;
    position: absolute;
    right: 347px;
    margin: 18px 0;

}
form {
    border: 7px solid #3a3a3a;
    text-align: center;
    padding: 70px 63px;
    margin-bottom: 60px;
    position: relative;    
}
.c_name {
    margin-top: 26px;
}
form input {
    border: none;
    margin-bottom: 20px;
    width: 100%;
    height: 47px;
    line-height: 47px;
    padding-left: 17px;
}
textarea {
    width: 100%;
    height: 170px;
    padding: 20px 0 0 20px;
    margin-bottom: 20px;
}
form button {
    background-color: #ec1c24;
    height: 57px;
    line-height: 57px;
    width: 100%;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
    transition: all 0.40s ease-in-out;
}
form button:hover {
    background-color: #a30006;
}



/***************************************************/
 


.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}
/*----------------show sidebar button----------------*/
/*  */
.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-dropdown a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0dd";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  transform: rotate(270deg);
  position: absolute;
  right: 38px;
  top: 91px;
}

.sidebar-dropdown a{
    color: #fff;
}

.sidebar_ul {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.chiller-theme {
    background-color: #1c1c1c;
    padding: 20px;
}




.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  /* transform: rotate(90deg); */
  right: 38px;
}

.sidebar-menu h1 {
    color: #fff;
    font-size: 22.02px;
    line-height: 24.22px;
    font-weight: bold;
    margin-bottom: 46px;
}



/********** PRODUCT DESCRIPTION **************/
.pro-img {
    position: relative;
    bottom:0;
}
.pro-img img {
    width: 100%;
}
.left {
    position: absolute;
    color: #9a9a9a;
    bottom: 0;
    font-size: 40px;
    left: 0;
    width: 44px;
    text-align: center;
}
.pro-desc p {
    font-size: 35px;
    line-height: 20px;
    color: #fff;
}
.price {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:  #37ad46 !important;
    margin-top: 34px;
    margin-bottom: -20px;   
}
.pro-desc h3 {
    font-size: 13px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-top: 36px;
    margin-bottom: 17px;
}
.pro-desc select {
    background-color: transparent;
    color: #606060;
    width: 100%;
    height: 33px;
    line-height: 33px;
    padding-left: 10px;
} 
.desc button ,.desc a{
    font-size: 16px;
    line-height: 20px;
    color: black;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50%;
    border: none;
    background-color: white !important;
    padding-top: 0px;
    padding-bottom: 0px !important;
    border-radius: 0px !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: white !important;
    border-color: transparent;
    background-color: #333333 !important;
}
.desc-btn {
    display: flex;
    margin-top: 53px;
}
.review, a.review {
    background-color: #fff !important;
    color: #333333 !important;
}
.desc-text h2 {
    font-family: 'Montserrat', sans-serif;
    color: #727272 ;
    font-size: 13px;
    line-height: 20px;
    margin: 27px 0 14px 0;
}
.desc-text p {
    font-family: 'Montserrat', sans-serif;
    color: #727272;
    font-size: 15px;
    line-height: 22px;
}
.pro-third {
    padding-top: 60px;
}
.cart {
    margin-top: 54px;
    line-height: 60px;
    background-color: #ec1c24;
    text-align: center;
    width: 100%;
    border: none;
    color: #fff;    
    transition: all 0.40s ease-in-out;
}
.cart:hover {
    background-color: #a30006;
}
input { 
    text-align: center; 
}
.qty {
    display: flex;
    margin-top: 30px;
}
.qty input {
    width: 40px;
    height: 59px;
    background-color: transparent;
    border: 1px solid #d9d9d9;
    width: 41px;
    color: #727272;
}
.qty button {
    border-radius: 0;
    height: 31px;
    border-right: 1px solid #d9d9d9;
    width: 41px;
    border-top: 1px solid #d9d9d9;
    background-color: transparent;
}
.qty .input-group-prepend .qty-last {
    position: absolute;
    bottom: 0px;
    left: 56px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.owl-dot:focus {
    outline: 0;
    background-color: red;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ec1c24;
}
.owl-theme .owl-dots .owl-dot span {
    width: 14px;
    height: 14px; 
}
.client .testi {
    margin-top: 100px;
}
.client .name {
    margin-left: 170px; 
}
.client .testi p {
    margin-bottom: 0;
}
.client .testi p:after {
    left: 148px;
}
.flw {
    margin-bottom: 70px;
    padding: 28px;
}
.outside .product-cart img {
    margin-bottom: 25px;
}
.outside .product-cart h5 {
    font-weight: 400;
}
.flw-us {
    margin-bottom: 0;
}
.client .item i.fa-quote-left {
    color: #bb2f00;
    position: absolute;
    top: 0;
    left: 168px;
}
.client .item i.fa-quote-right {
    position: absolute;
    right: 5px;
    color: #bb2f00;
    bottom: 8px;
}
.fa-angle-up:before, .fa-angle-down:before {
    color: #727272;
}
.btn-dark:hover {
    border-color: #d9d9d9;
    border-bottom: none;
    border-left: none;
}
.qty-text {
    margin-top: 25px !important;
    margin-bottom: -20px !important;
}
.borders.testing:before, .borders.testing:after {
        top: 100px;
    }